/* General rules */
h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/* Color Scheme */
.primary {
    color: #EF626C;
}

.secondary {
    color: #EA8C55;
}

.tertiary {
    color: #C75146;
}

.white {
    color: #FFFCF9;
}

.text-color {
    color: #22181C;
}



