/* General rules */
h1 {
    font-family: 'Trochut', sans-serif;
}

h2 {
    font-family: 'Raleway', sans-serif;
}

h5 {
    font-family: 'Raleway', sans-serif;
}

body {
    margin-top: 10vh;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-variant-numeric: lining-nums;
}

/* Div styling */
.timespan {
    color: #BDBDBD;
}

.title {
    font-weight: 700;
}

/* Color Scheme */
.primary {
    color: #EF626C;
}

.secondary {
    color: #EA8C55;
}

.tertiary {
    color: #C75146;
}

.white {
    color: #FFFCF9;
}

.text-color {
    color: #22181C;
}

/* Link Styling */
a:link {
    text-decoration: none;
    color: #22181C;
}

a:visited {
    text-decoration: none;
    color: #22181C;
}

a:hover {
    text-decoration: none;
    color: #C75146;
}

a:active {
    text-decoration: none;
    color: #22181C;
}



